* {
  margin:0px;
  padding:0px;
}

#brfc {
  display: block;
  width:380px;
  margin: 20px auto;
}

p {
  display: block;
  width: 100px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
